@import url("https://fonts.google.com/specimen/League+Spartan?query=spartan");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size:50px;
    line-height: 62px;
    color: #222;
}
h2{
    font-size:46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size:20px;
    color: #222;
}
h6{
    font-size:12px;
    font-weight: 700;
}
p{
    font-size:16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
    width:100%;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding :20px 80px;
  background: #dce5f7;
  box-shadow: 0 5px 5px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#header img{
    border-radius: 200%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding :20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-size: 600;
    color:rgb(49, 2, 44);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: deeppink;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width:30%;
    height:2px;
    color: deeppink;
    position: absolute;
    bottom:-4px;
    left:20px;
}
#main{
    background-image: url("Img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 90vh; 
    display: flex;
    padding:  0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}
#main h1{
    color: darkgreen;
}
#main h4{
    padding-bottom: 15px;
}
#main button{
    background-image: url("Img/button.png");
    background-color: transparent;
    border:0;
    border-radius: 80%;
    text-align: center;
    color: darkgreen;
    padding: 14px 60px 14px 45px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  3px 0 4px;
}
#feature .fe{
    width: 150px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 30px 40px 44px rgba(39, 38, 38, 0.06);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe h6{
    padding: 9px 8px 6px 8px;
    background-color: bisque;
    color: darkgreen;
    border-radius: 4px;
    line-height: 1;
}
#feature .fe:nth-child(2) h6{
    padding: 9px 8px 6px 8px;
    background-color: rgb(249, 232, 211);
    color: rgb(234, 57, 140);
    border-radius: 4px;
    line-height: 1;
}
#feature .fe:nth-child(3) h6{
    padding: 9px 8px 6px 8px;
    background-color: rgb(249, 232, 211);
    color: rgb(101, 2, 86);
    border-radius: 4px;
    line-height: 1;
}
#feature .fe:nth-child(4) h6{
    padding: 9px 8px 6px 8px;
    background-color: rgb(249, 232, 211);
    color: rgb(14, 191, 255);
    border-radius: 4px;
    line-height: 1;
}
#feature .fe:nth-child(5) h6{
    padding: 9px 8px 6px 8px;
    background-color: rgb(249, 232, 211);
    color: rgb(255, 120, 2);
    border-radius: 4px;
    line-height: 1;
}
#feature .fe img{
    margin-bottom:20px;
}
#product{
    text-align: center;
}
#product h2{
    color:coral;
}
#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    flex-wrap: wrap;
}
#product .pro{
    width: 23%;
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
}
#product .pro:hover{
    box-shadow: 20px 20px 20px #c5c5c5;
}
#product .pro img{
    width: 100%;
    border-radius: 20px;
}
#product .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product .pro .des i{
    font-size: 12px;
    color: rgba(255, 217, 0, 0.701);
}
#product .pro .des h4{
    font-size: 15px;
    font-weight: 700;
    color:#088178;
}
#product .pro .tumtum{
    height: 20px;
    width: 20px;
    line-height: 20px;
   bottom: 20px;
   right: 10px;
   position: absolute;
   background-color: #c5c5c5;
   border-radius: 100%;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    background-image: url("Img/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: azure;
    font-size: 14px;
}
#banner h2{
    color: azure;
    font-size: 30px;
    padding: 10px;
}
#banner h2 span{
    color: springgreen;
    font-size: 40px;
}
#banner button{
    color: black;
    background-color: #fff;
    cursor: pointer;
    border: 0;
    padding: 15px 30px;
    border-radius: 10px;
}
#banner button:hover{
color: azure;
background-color: #088178;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    background-image: url("Img/ban-1.png");
    height: 50vh;
    width: 90vh;
    color: azure;
    background-size: cover;
    background-position: center;
    padding: 15px 20px;
}
#sm-banner .banner-box:nth-child(2){
    background-image: url("Img/ban-2.png");
}
#sm-banner h4{
    color: azure;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: azure;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner .banner-box button{
    background-color: transparent;
    color: azure;
    border: 1px solid azure;
    padding: 11px 18px;
    border-radius: 4px;
}
#sm-banner .banner-box button:hover{
    background-color: #088178;
    padding: 11px 18px;
    color: azure;
    border-radius: 4px;
    border: 0;
}
#banner3{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    background-image: url("Img/ban-3.png");
    height: 50vh;
    width: 32%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#banner3 .banner-box:nth-child(2){
  background-image: url("Img/ban-4.png");
}
#banner3 .banner-box:nth-child(3){
    background-image: url("Img/ban-5.png");
  }
#banner3 h2{
    color: azure;
    font-size: 20px;
    font-weight: 900;
}
#banner3 h3{
    color: rgb(8, 248, 44);
    font-size: 15px;
    font-weight: 800;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20%;
   background-image: url("Img/ban-6.png");
}
#newsletter h4{
   color: azure;
   font-size:22px ;
   font-weight: 700;
}
#newsletter p{
    color: azure;
    font-size:14px ;
    font-weight: 600;
 }
 #newsletter p span{
    color: rgb(245, 16, 153);
 }
 #newaletter .form{
    display: flex;
    width: 40%;
 }
 #newsletter input{
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    width:60%;
    padding: 5px;
 }
 #newsletter button{
    background-color: #088178;
    color: azure;
    height: 40px;
    border-radius: 4px;
    padding: 4px;
    border: 0;
 }
 footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
 }
 footer a{
    text-decoration: none;
    color: #222;
    margin: 5px;
    font-size: 13px;
 }
 footer .install .row img{
    width: 100px;
    border: 1px solid #088178;
    border-radius: 4px; 
 }
footer .copyright{
    text-align: center;
    width: 100%;
} 
#page-header{
    background-image: url("Img/shop-ban.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction:column ;
    padding:14px;
}
#page-header h2,
#page-header p{
    color: azure;
}
#pagination{
  text-align:center;
}
#pagination a{
    background-color: #088178;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}
#prodetails{
    display: flex;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding:20px 0 10px 0;
}
#prodetails .single-pro-details h2{
   font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: azure;
    padding :12px 12px 7px 12px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
#prodetails .single-pro-details input{
    width: 40px;
    height :40px;
    font-size: 16px;
}
#prodetails .single-pro-details span{
    line-height: 10px;
}
#page-header.blog-header{
    background-image: url("Img/ban-7.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction:column ;
    padding:14px;
}
#blog {
    padding: 100px 100px 70px 100px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog img{
    width:100% ;
    height:300px ;
    /* object-fit: cover; */
}
#bolg .blog-img{
    width: 100%;
    margin-right: 40px;
}
#blog .blog-details{
    width: 50%;
    margin-left: 80px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 20px;
    color: #222;
    font-weight: 700;
    transition: 0.3s ease;
}
#blog .blog-details a:hover{
   color: coral;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size:70px ;
    font-weight: 700;
    color: rgb(172, 172, 172);
    z-index: -9;
}
#page-header.about-header{
    background-image: url("Img/ban-8.jpg");
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
   width: 45%;
   height: auto;
   margin-left: 20px;
   padding-top: 20px;
} 
#about-head div{
    padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app h1{
    padding-bottom: 20px;
}
#about-app video{
    height: 100%;
    width: 70%;
    margin-top: 30px auto 0 auto;
}
#about-app .video video{
    border-radius: 20px;
}
.details{
    padding-right: 30px;
}
#contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li svg{
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
}
#page-header.contact-header{
    background-image: url("Img/ban-6.png");
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 50px;
    border:1px solid #c5c5c5;
}
#form-details .all{
    flex-direction: column;
    margin-left: 60px;
}
#form-details form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details input,
#form-details textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid rgb(221, 221, 221);
}
#form-details .normal{
    background-color: #088178;
    color: azure;
    padding :15px 15px 15px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
#form-details .people div{
    display: flex;
    padding-bottom: 25px;
    align-items: flex-start;
}
#form-details .people div img{
 width:65px;
 height:65px ;
 object-fit: cover;
 margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 3px;
    line-height: 25px;
}
#cart{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
 width: 100px;
 text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
   }
   #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
   }
   #cart table td:nth-child(4){
    width: 350px;
    text-align: center;
   }
#cart table thead{
    border: 2px solid #1b0000;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table thead tr td{
    padding-top: 15px;
}
#cart table thead td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 60%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom: 15px;
    margin-left: 30px;
}
#coupon input{
    padding: 10px 20px;
    width: 55%;
    margin-left: 30px;
    border:1px solid darkgrey;
}
#coupon button,
.normal{
    background-color: #088178;
    color: azure;
    padding :12px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
#subtotal h3{
    padding-bottom: 15px;
}
#subtotal{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 37%;
    padding: 30px;
    border: 1px solid darkgray;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    font-size: 13px;
    padding: 10px;
    border: 1px solid darkgrey;
}